/*
ARTICLE.CSS
Style declarations for articles, project pages, etc..
*/

/* Post Body ---------------------------------------------------------------- */

article {
	counter-reset: section subsec subsub figcounter;
}

/* automatic heading numbers with CSS counters */

#post-body h1 {
	counter-reset: subsec subsub;
}

#post-body h2 {
	counter-reset: subsub;
}

#post-body h1::before {
	counter-increment: section;
	content: counter(section);
	margin-right: 0.5em;
}

#post-body h2::before {
	counter-increment: subsec;
	content: counter(section) "." counter(subsec);
	margin-right: 0.5em;
}

#post-body>img, p>img, p>a img {
	display: block;
	margin: 0 auto;
	max-width: 100%;
}

/* Article Styles ----------------------------------------------------------- */

.article-header {
	margin: 3em 0 0.5em 0;
	text-align: center;
}

.article-content {
	position: relative;
	margin: 20px 0 0 0;
	line-height: 1.4;
}

.article-content h1 {
	border: none;
	color: #303030;
}

.article-content {
	position: relative;
	margin: 20px 0 0 0;
	line-height: 1.4;
}

.article-content h1 {
	border: none;
	color: #303030;
}

/* Title */

.article-title {
	font-size: 2em;
	font-weight: bold;
	font-family: var(--sans-fonts);
	margin: 0 0 0.5em 0;
}

/* Info */

.article-info {
	font-size: 0.8em;
	color: #666;
}

/* Tags */

.article-tags {
	display: flex;
	margin-top: 0.5em;
	justify-content: center;
	flex-wrap: wrap;
}

.article-tags a {
	margin: 0.2em 0.2em;
	padding: 0.4em;
	background-color: lightblue;
	color: #254298;
	white-space: nowrap;
}

.article-tags .tool {
	background-color: #b6e2ba;
	color: darkgreen;
}

/* Article Buttons ---------------------------------------------------------- */

.article-buttons {
	margin: 1em 0 2em 0;
}

.article-button {
	position: relative;
	display: inline-block;
	margin: 0 0.5em;
	padding: 0.5em;
	width: 12em;
	background-color: #3ab53e;
	color: white;
	font-weight: bold;
	vertical-align: middle;
}

.article-button>div {
	display: inline-block;
	vertical-align: middle;
}

.article-button:hover {
	color: brightness(0.6);
}

.article-button::before {
	content: "";
	display: inline-block;
	height: 24px;
	width: 24px;
	margin-right: 0.6em;
	vertical-align: middle;
	background-repeat: no-repeat;
	background-size: contain;
}

/* GitHub Button */

.article-button.github {
	background-color: #3a88b5;
}

.article-button.github:hover {
	background-color: #307196;
}

.article-button.github::before {
	background-image: url("/images/icons/octocat-28px-white.png");
}

/* GitHub Button */

.article-button.demo {
	background-color: #52b955;
	/*#3ab53e*/
	;
}

.article-button.demo:hover {
	background-color: #479c4a;
}

.article-button.demo::before {
	background-image: url("/images/icons/paper-plane-24px-white.png");
}

/* PDF Button */

.article-button.pdf {
	background-color: #fb5e5e;
	/*#3ab53e*/
	;
}

.article-button.pdf:hover {
	background-color: #b95252;
}

.article-button.pdf::before {
	background-image: url("/images/icons/pdf-24px-white.png");
}

/* Table of Contents ---------------------------------------------------------*/

#toc {
	display: inline-block;
	margin: 1.5em 0;
	padding: 1em 1em 1em 0;
	overflow: hidden;
	height: 0;
	opacity: 0;
	transition: height 0.5s ease-in-out, opacity 0.5s ease-in-out;
}

#toc a {
	font-weight: 200;
}

#toc>ol {
	margin-top: 0;
	margin-bottom: 0;
}

/* //// SPECIAL FORMATTING ////////////////////////////////////////////////// */

/* Lists */

ol ol {
	list-style-type: lower-alpha;
}

ol ol ol {
	list-style-type: lower-roman;
}

/* Theorem Boxes */

.theorem {
	margin: 10px 40px;
	padding: 10px;
	border: 1px solid black;
}

.theorem .label {
	font-weight: 500;
}

/* Code Listings */

.code-listing {
	margin: 20px 40px;
	font-size: 0.8em;
	font-family: monospace;
}

/* Citations */

.citation {
	color: darkgreen;
}

/* Margin Notes */

.aside {
	color: #808080;
	font-style: italic;
}

@media (max-width: 1075px) {
	.aside::before {
		content: "(";
		display: inline-block;
		margin-left: 0.5em;
	}
	.aside::after {
		content: ")";
		display: inline-block;
		margin-right: 0.5em;
	}
}

@media not all and (max-width: 1075px) {
	.aside {
		position: absolute;
		width: 140px;
		padding-top: 0.1rem;
		right: calc(100% + 1rem);
		font-size: 0.8rem;
		text-align: right;
		color: #339;
	}
}

/* Figures ------------------------------------------------------------------ */

figure figure {
	margin: 0;
}

figure>img, .img-gallery>img {
	display: block;
	max-width: 100%;
}

.img-col-2 {
	grid-column-end: span 2;
}

.img-col-3 {
	grid-column-end: span 3;
}

@media (max-width: 660px) {
	.img-col-2 {
		grid-column-end: span 1;
	}
	.img-col-3 {
		grid-column-end: span 1;
	}
	.img-gallery img {
		max-height: 40vh;
	}
	.img-gallery.large img {
		max-height: 80vh;
	}
	.img-gallery.horizontal {
		grid-auto-flow: row !important;
	}
}

.img-gallery {
	display: grid;
	grid-gap: 1em;
	place-items: start center;
}

.img-gallery.horizontal {
	grid-auto-flow: column;
}

.img-gallery.col-2 {
	grid-template-columns: 1fr 1fr;
}

.img-gallery figure {
	min-width: 80%;
}

/* Initial / Drop Cap */

/*h1 + p::first-letter {
	box-sizing: border-box;
	color: #227;
	float: left;
	font-size: 2.6em;
	font-family: serif;
	margin-top: 0.15em;
	padding-right: 0.1em;
	line-height: 2rem;
}*/

/* Figure Caption */

figcaption::before {
	content: "Figure " counter(figcounter) ".";
	display: span;
	margin-right: 0.5em;
	font-style: italic;
}

figcaption {
	counter-increment: figcounter;
	margin-top: 0.5em;
}

figcaption a {
	font-weight: inherit;
}