* {
	font-family: "Segoe UI", sans-serif;
}

h1 {
	text-align: center;
}

hr {
	margin: 5px 0;
}

.note {
	text-align: center;
	font-size: 11px;
	color: gray;
}

canvas {
	border: 2px solid black;
	background: black;
	max-width: 100%;
	-webkit-box-sizing: border-box;
	   -moz-box-sizing: border-box;
	        box-sizing: border-box;
}

#wrapper {
	max-width: 800px;
	margin: 0 auto;
}

/* Primary Column ------------------------------------------------------------*/

.main-wrap {
	float: left;
	width: 100%;
}

.main-col {
	margin-left: 180px;
	padding: 0 10px;
	text-align: center;
}

/* Secondary Column (Sidebar, Left) ------------------------------------------*/

.side-wrap {
	position: relative;
	float: left;
	width: 160px;
	margin-left: -100%;
	padding: 0 10px;
}

.side-col {
	position: fixed;
	width: 170px;
}

select, .side-col > button {
	display: block;
	width: 100%;
	height: 25px;
	margin: 0 0 10px 0;
}

.side-col > hr, .side-col > canvas {
	width: 100%;
}

.side-col .input-group {
	width: 100%;
	overflow: hidden;
}

.side-col > input, .side-col > select {
	width: 100%;
	height: 25px;
}

.side-col > .checkbox {
	width: 100%;
	height: 25px;
}

/* Input ---------------------------------------------------------------------*/

/* really really lazy */
.input-group * {
	-webkit-box-sizing: border-box;
	   -moz-box-sizing: border-box;
	        box-sizing: border-box;
}

.input-group label {
	display: inline-block;
	width: 20%;
}

.input-group input {
	display: inline-block;
	width: 80%;
}

.checkbox {
	display: block;
	position: relative;
	width: 100%;
}

.checkbox input {
	transform: scale(1.3);
	-webkit-transform: scale(1.3);
	margin-right: 6px;
}