<div class="project-list">
$for(projects)$
	<div class="project $if(unpublished)$unpublished$endif$">
		<!-- description -->
		<div class="project-desc">
			<!-- title -->
			<div class="project-title">
				<a href="$url$">$title$</a>
			</div>
			<div class="project-subtitle">
				<span class="project-year">$month$ $year$ in </span>
				<span class="project-tags">
					$if(tags)$$tags$$endif$
					$if(tools)$$tools$$endif$
				</span>
			</div>
			<div class="project-summary">
				$if(summary)$$summary$$else$No summary.$endif$
			</div>
		</div>
		<!-- thumbnail -->
		<div class="project-thumb">
			<img alt="" src="$thumb_url$" />
		</div>
	</div>
$endfor$
</div>